<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>My Portfolio</title>
  <link rel="stylesheet" href="/Portfolio/css/style.css">
  <link rel="stylesheet" href="/Portfolio/css/projects.css">
  <link rel="stylesheet" href="/Portfolio/css/toggle.css">
</head>
<body>
  <header>
    <nav>
      <div class="leftnav">Rahul's Portfolio</div>
      <div class="rightnav">
        <ul>
          <li><a href="/Portfolio">Home</a></li>
          <li><a href="/Portfolio/templates/about.html">About</a></li>
          <li><a href="/Portfolio/templates/services.html">Services</a></li>
          <li><a href="/Portfolio/templates/project.html">Projects</a></li>
          <li><a href="/Portfolio/templates/contact.html">Contact Me</a></li>
        </ul>
      </div>
      <button class="toggle-theme" onclick="toggleTheme()">Toggle Theme</button>
      <div class="hamburger" onclick="toggleMenu()">☰</div>
    </nav>
  </header>
  <main>
    <section class="projects">
      <div class="container" role="list">
        <h1>Some of My Projects</h1>
        <div class="project-list">
          <div class="project-card" role="listitem">
            <a href="https://github.com/Rahulmalu01/Vehicle_Registration_System" target="_blank" rel="noopener noreferrer" aria-label="View Project One on GitHub">
              <img src="/Portfolio/assets/projects/Vehicles_Rental.jpg" alt="Screenshot of Project One" />
              <div>
                <h2>Vehicle Rental System</h2>
                <p>The Vehicle Rental System, built with Django and Bootstrap, allows users to manage vehicle data and enables administrators to control user accounts and the vehicle database.</p>
              </div>
            </a>
            <div class="visit-website-container">
              <a href="https://vehicle-registration-system-wmkp.onrender.com" target="_blank" rel="noopener noreferrer" class="visit-website" aria-label="Visit Vehicle Rental System">Visit Website</a>
            </div>
          </div>

          <div class="project-card" role="listitem" tabindex="0">
            <a href="https://github.com/Rahulmalu01/University_Course_Registration_System" target="_blank" rel="noopener noreferrer" aria-label="View Project Two on GitHub">
              <img src="/Portfolio/assets/projects/course.jpeg" alt="Screenshot of Project Two" />
              <div>
                <h2>Student Management System</h2>
                <p>This Student Management System, built with Node.js, Express.js, and MySQL, allows administrators to manage students and courses, while enabling students to register, log in, and enroll in courses.</p>
              </div>
            </a>
            <div class="visit-website-container">
              <a href="https://github.com/Rahulmalu01/University_Course_Registration_System" target="_blank" rel="noopener noreferrer" class="visit-website" aria-label="Visit Student Management System">Visit Website</a>
            </div>
          </div>

          <div class="project-card" role="listitem" tabindex="0">
            <a href="https://github.com/Rahulmalu01/web_games" target="_blank" rel="noopener noreferrer" aria-label="View Project Three on GitHub">
              <img src="/Portfolio/assets/projects/web_game.jpg" alt="Screenshot of Project Three"/>
              <div>
                <h2>Web Games</h2>
                <p>Explore a collection of fun web-based games.</p>
              </div>
            </a>
            <div class="visit-website-container">
              <a href="https://github.com/Rahulmalu01/web_games" target="_blank" rel="noopener noreferrer" class="visit-website" aria-label="Visit Web Games">Visit Website</a>
            </div>
          </div>

          <div class="project-card" role="listitem" tabindex="0">
            <a href="https://github.com/Rahulmalu01/Python_Games" target="_blank" rel="noopener noreferrer" aria-label="View Project Four on GitHub">
              <img src="/Portfolio/assets/projects/python_games.jpg" alt="Screenshot of Project Four" />
              <div>
                <h2>Python Games</h2>
                <p>Daily life games created in Python to visualize and understand the games properly.</p>
              </div>
            </a>
            <div class="visit-website-container">
              <a href="https://github.com/Rahulmalu01/Python_Games" target="_blank" rel="noopener noreferrer" class="visit-website" aria-label="Visit Python Games">Visit Website</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="/Portfolio/js/toggle.js"></script>
</body>
</html>
