<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sevrives Provided</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <button class="toggle-theme" onclick="toggleTheme()">Toggle Theme</button>
  <header>
    <nav>
      <div class="leftnav">Rahul's Portfolio</div>
      <div class="rightnav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/templates/about.html">About</a></li>
          <li><a href="/templates/services.html">Services</a></li>
          <li><a href="/templates/project.html">Projects</a></li>
          <li><a href="/templates/contact.html">Contact Me</a></li>
        </ul>
      </div>
      <div class="hamburger" onclick="toggleMenu()">☰</div>
    </nav>
  </header>
  <script>
    function toggleMenu() {document.getElementById('nav-links').classList.toggle('active');}
    function toggleTheme() {document.body.classList.toggle('light-mode');}
    AOS.init();
  </script>
</body>
</html>